services:  # 定义服务列表
  shortstream_aggregator_api:  # 服务名称
    image: qianlima233/shortstream_aggregator_api:latest  # 使用的 Docker 镜像
    container_name: shortstream_aggregator_api  # 容器名称
    restart: always  # 容器退出后总是重启
    ports:
      - "3000:3000"
    volumes: # 挂载卷配置
      - ./config:/app/config
      - ./download:/app/download
      - ./logs:/app/logs
    environment:  # 环境变量配置
      TZ: Asia/Shanghai  # 设置时区为亚洲/上海
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:3000/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
